@model Tema4Cloud.Model.Event

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span class="AntiForge"> @Html.AntiForgeryToken() </span>
<span class="id">
    <input name="EventId" type="hidden" value=@Html.DisplayFor(model => model.Id)>
</span>
<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfParticipants)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfParticipants)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GatheredMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GatheredMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfEvent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<style type='text/css'>
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-family: 'Segoe UI',Helvetica,Arial,Sans-Serif
    }
</style>

<div id='printoutPanel'></div>

<div id='myMap' style='width: 30vw; height: 30vh;'></div>
<script type='text/javascript'>
            function loadMapScenario() {
                var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
                    /* No need to set credentials if already passed in URL */
                    center: new Microsoft.Maps.Location(@Html.DisplayFor(model => model.Location.Latitude), @Html.DisplayFor(model => model.Location.Longitude)),
                    mapTypeId: Microsoft.Maps.MapTypeId.aerial,
                    zoom: 17 });


            }
</script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=Ansy_oJvPmucOUMAcGboqpG9vvw8dBspTSkw5LC9x27mpca3A9Y5Zyel_XHCetxc&callback=loadMapScenario' async defer></script>





<h3>Comments</h3>

<form id="postComment" method="post" action="../AddComment">
    @Html.AntiForgeryToken()
    <input name="EventId" type="hidden" value=@Html.DisplayFor(model => model.Id)>

    <div class="form-horizontal">
        <h4>Comment</h4>
        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>


</form>

    <textarea onclick="clickedForm()" id="textArea" rows="4" cols="50" name="Text" form="postComment">
Write a comment...
</textarea>



@foreach (var item in Model.Comments)
{
    <h4>
        @Html.DisplayFor(modelItem => item.Author)
    </h4>
    <p>
        @Html.DisplayFor(modelItem => item.Date)
    </p>
    <p>
        @Html.DisplayFor(modelItem => item.Text)
    </p>
}


<script>

    function clickedForm() {
        let textArea = document.getElementById("textArea");
        if (textArea.value == "Write a comment...\n")
            textArea.value = "";
    }

</script>